extends ../layouts/application.pug

block content
  h1.mb-4= t('views.users.new.signUp')
  +formFor()(action=route('users') method='post')
    +input(user, 'firstName', t('views.users.firstName'), errors)(type="text" autofocus)
    +input(user, 'lastName', t('views.users.lastName'), errors)(type="text")
    +input(user, 'email', t('views.users.email'), errors)(type="text")
    +input(user, 'password', t('views.users.password'), errors)(type="password")
    +submit(user)(value=t('views.users.new.submit'))
