extends ../layouts/application.pug

block content
  h1.mb-4= t('views.statuses.edit.header')
  +formFor()(action=route('oneStatus', { id: status.id }) method='post')
    input(type="hidden" name="_method" value="patch")
    +input(status, 'name', t('views.statuses.name'), errors)(type="text" autofocus)
    +submit(status)(value=t('views.statuses.edit.submit'))
