extends ../layouts/application.pug

block content
  h1.mb-4= t('views.tasks.edit.header')
  +formFor()(action=route('oneTask', { id: task.id }) method='post')
    input(type="hidden" name="_method" value="patch")
    +input(task, 'name', t('views.tasks.name'), errors)(type="text" autofocus)
    +textarea(task, 'description', t('views.tasks.description'), errors)(rows="3")
    +select(task, 'statusId', t('views.tasks.status'), statuses, errors)
    +select(task, 'executorId', t('views.tasks.executor'), users, errors)
    +select(task, 'labels', t('views.tasks.labels'), labels, errors)(multiple)
    +submit(task)(value=t('views.tasks.edit.submit'))
