extends ../layouts/application.pug

//- Главная страница с приветствием (маршрут GET /)

block content
  .card.welcome-card
    .card-body.p-5
      .display-4= t('views.welcome.index.hello')
      p.lead= t('views.welcome.index.description')
      hr
      a.btn.btn-primary.btn-lg(href="https://hexlet.io" target="_blank" rel="noopener noreferrer")= t('views.welcome.index.more')
